<calendar (currentDate)="setSelectedDate($event)"></calendar>
<section>
  <h3 *ngIf="currentStatus === STATUS.NONE">Nenhuma foto encontrada.</h3>
  <h3 *ngIf="currentStatus === STATUS.GETTING">Buscando fotos...</h3>
  <h3 *ngIf="currentStatus === STATUS.DONE">{{ photos.length }} fotos encontradas para a data: {{ currentDate }}</h3>

  <section>

    <article class="panel panel-default" *ngFor="let photo of photos">
      <figure class="image-center">
        <img class="img-responsive img-rounded" [src] = "photo.img_src">
      </figure>
      <figcaption>
        <h4>Foto id: {{ photo.id }} @ {{ photo.earth_date | date:'dd/MM/yyyy'}}</h4>
        <p>Rover: {{ photo.rover.name }}, Câmera {{ photo.camera.full_name }} - ({{ photo.camera.name }})
      </figcaption>
    </article>

  </section>
  
</section>