/* You can add global styles to this file, and also import other style files */
.github {
  background: url(/assets/imagens/github.png) no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
  
  display: inline-block;
}
